i{
    cursor: pointer;
}
table{
    width: 100%;
}
th, td{
border: 1px solid black;
}
table, th, td {
  padding: 10px;
  border-collapse: collapse;
  border-radius: 20px;
}



.button-edit:hover i{
color: white;
}